*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #0E151E;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: url('../img/hero-bg.jpeg') 0 0/cover no-repeat;
	min-height: 100vh;
}

h6,
h5,
h4,
h3,
h2,
h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol,
ul {
	padding-left: 2rem;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

a {
	color: #0d6efd;
	text-decoration: underline;
}

a:hover {
	color: #0a58ca;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}

img,
svg {
	vertical-align: middle;
}

button {
	border-radius: 0;
}

button:focus:not(:focus-visible) {
	outline: 0;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
select {
	text-transform: none;
}

[role=button] {
	cursor: pointer;
}

button,
[type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
	cursor: pointer;
}

::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
	padding: 0;
}

::-webkit-inner-spin-button {
	height: auto;
}

[type=search] {
	outline-offset: -2px;
	-webkit-appearance: textfield;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
	padding: 0;
}

::file-selector-button {
	font: inherit;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

iframe {
	border: 0;
}

[hidden] {
	display: none !important;
}

@font-face {
  font-family: Dosis;
  font-display: swap;
  src: url("../fonts/Dosis-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Dosis;
  font-display: swap;
  src: url("../fonts/Dosis-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.wrapper {
	font-family: Dosis;
	width: 100%;
}

.container {
	max-width: 1490px;
	padding: 0 50px;
	margin: 0 auto;
	width: 100%;
}

.hello-container {
	/* background-image: url('../img/films.png'); */
	background-size: 650px;
	background-repeat: no-repeat;
	background-position: right 50px center;
	position: relative;
	overflow: hidden;

	background-image: url('../img/films.png');
	background-image: url('../img/films.webp');
}

.hello-container::after {
	content: '';
	position: absolute;
	top: -350px;
	right: 0;
	width: 548px;
	height: 548px;
	background-color: #0E151E;
	background-repeat: no-repeat;
	border-radius: 50%;
	filter: blur(124px);
	opacity: .7;
}
.hello-container::before {
	content: '';
	position: absolute;
	bottom: -400px;
	right: 250px;
	width: 548px;
	height: 548px;
	background-color: #0E151E;
	background-repeat: no-repeat;
	border-radius: 50%;
	filter: blur(124px);
	opacity: .7;
}

.flex-row {
	display: flex;
	padding: 50px 0;
	margin: 0 -15px;
	min-height: 100vh;
	align-items: center;
}

.flex-column {
	flex: 0 0 50%;
	padding: 0 15px;
}

.logo {
	max-width: 200px;
}

.logo img {
	width: 100%;
	max-width: 200px;
}

.flex-column__header {
	margin-bottom: 136px;
}

.title {
	font-size: 36px;
	line-height: 46px;
	font-weight: 600;
	color: #fff;
	max-width: 586px;
	margin-bottom: 35px;
}

.text {
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	max-width: 560px;
}

.captcha {
	padding: 40px 0;
	color: #fff;
}

.check-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
}

.check-row .logo {
	margin-bottom: 100px;
}

.check-loader {
	margin-bottom: 20px;
}

.check-row .title,
.check-row .text {
	text-align: center;
}

.check-row .text {
	max-width: 775px;
	margin-bottom: 0;
	margin: 0 auto;
}

.check-row .text > p {
	margin-left: 5px;
}

.check-row .title {
	margin-bottom: 18px;
}

.check-text {
	margin-bottom: 21px;
}

.thread-text {
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	hyphens: auto;
}

@media (max-width: 1439px) {
	.container {
		padding: 0 16px;
	}
	.hello-container {
		background-size: 450px;
		background-position: right 20px center;
	}
	.flex-column {
		flex: 0 0 70%;
	}
}

@media (max-width: 1024px) {
	.hello-container {
		background-image: url('../img/films-mob.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.flex-row {
		padding: 50px 0;
		align-items: flex-start;
	}
	.flex-column {
		flex: 0 0 100%;
		min-height: calc(100vh - 100px);
		display: flex;
		flex-direction: column;
	}
	.flex-column__header {
		margin-bottom: 80px;
	}
	.logo {
		margin: 0 auto;
		z-index: 2;
		position: relative;
	}
	.title {
		max-width: 330px;
		text-align: center;
		margin: 0 auto 25px;
		font-size: 24px;
		line-height: 30px;
		position: relative;
		z-index: 2;
	}
	.text {
		text-align: center;
		font-size: 16px;
		line-height: 24px;
		max-width: 290px;
		margin: 0 auto;
	}
	.text-bottom {
		margin-top: auto;
		padding-bottom: 44px;
		max-width: 236px;
	}
	.captcha {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.check-row {
		padding-top: 50px;
	}
	.check-row .logo {
		margin-bottom: 80px;
	}
}

@media (max-width: 768px) {
	body {
		background-position: 40% 0%;
	}
	.hello-container {
		background-size: contain;
		background-position: top center;
	}

}